/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

*{
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */
header > nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}


nav > div {
    margin: 30px;
}



.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    align-items: center;
}

.blue {
    background-color: #0061FF;
    color: white;
    text-align: center;
    padding: 5px;
    border: none;
} 




nav + section {
    background-color:#B4D0E7;
}

.container-relative {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.container-relative > h1 {
    font-size: 2.0em;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}



.row {
    display:flex;
    justify-content: center;
    margin: 0 -20px;
    
}


.small {
    width:calc(40% - 40px);
    margin: 20px;
    margin-top: 40px;
}

.small > p {
    font-size: 1.2em;
}

.small > button {
    margin-top: 20px;
}

button + div {
    margin-top: 20px;
}

.small div > i {
    margin-top: 20px;
    font-size: 1.2em;
}

.big {
    
    width:calc(60% - 40px);
    margin: 20px;
    margin-top: 40px;
}

.big img {
    width: 100%;
    display: block;
}

/* SECTION 1 MAIN */
.container-small > h2 {
    font-weight: bold;
    font-size: 2.0em;
    margin-top: 80px;
    
}

.container-small > div {
    margin-top: 30px;
    
}

input:checked { 
    background-color: #0061FF;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -20px;
}
    
    

.col-1 {
    width: calc((100% / 3) - 40px);
    margin: 20px;
    border: 1px solid lightgray;
    
}

.user {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.subscription {
    margin: 20px;
}



ul {
    list-style:none;
}

li {
    margin: 20px;
}

.button {
    text-align: center;
}

.buy {
    margin: 20px;
}

.flex hr {
    width: 20%;
    margin: 30px;
}

.flex h4 {
    margin: 30px;
}

li > span {

    color:#0061FF;
}



.col-2 {
    width: calc((100% / 3) - 40px);
    margin: 20px;
    border: 1px solid lightgray;
}
    


.col-3 {
    width: calc((100% / 3) - 40px);
    margin: 20px;
    border: 1px solid lightgray;
}
    


    
.col-4 {
    width: calc(100% - 40px);
    margin: 20px;
    border: 1px solid lightgray;
    position: relative;
}

.col-4 div,h3 {
    margin: 20px;
}

#solutions {
    margin-top: 70px;
}

#solutions + .blue {
    position: absolute;
    top: 70px;
    right: 20px;
}


/* SECTION 2 MAIN */
h2 + p {
    margin-top: 20px;

}

.white {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;

}   

/* SECTION 3 MAIN */
.col-5-10 {
    width: calc((100% / 3) - 40px);
    margin: 20px;

}



.col-5-10 > img {
    width: 100%;
    display: block;
}

img + h3 {
    text-align: center;
}


/* SECTION 4 MAIN */
.title {
    font-size: 3.0em;
    text-align: center;
    margin-top: 60px;
    
}

.title + div {
   margin: 60px;
    
}


/* DEBUG */

.debug .customer-container {
    display: flex;
}

.debug .single-container {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: greenyellow;
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
}

.debug .single-container > div {
    width: 50%;
    height: 50%;
    background-color: orange;
    border: 2px dashed blue;
}
    



