/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

*{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header > nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
   

nav > div{
   margin: 30px;
}



.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    align-items: center;
}
    
.blue{
    background-color: #0061FF;
    text-align: center;
    padding: 5px;
    border: none;
} 

.blue > a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
    
    
nav + section{
    background-color:#B4D0E7;
}

.container-relative{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.container-relative > p{
    font-size: 5.0em;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
    
    

.row{
   display:flex;
   justify-content: center;
   margin: 0 -20px;
   
}
    

.small{
    width:calc(40% - 40px);
    margin: 20px;
    margin-top: 40px;
}

.small > p{
    font-size: 1.2em;
}

.small > button{
    margin-top: 20px;
}

button + div{
    margin-top: 20px;
}

.small div > i{
    margin-top: 20px;
    font-size: 1.2em;
}

.big{

    width:calc(60% - 40px);
    margin: 20px;
    margin-top: 40px;
}
    

/* DEBUG */



    
    





